<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_121</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
